html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #F78A17 0%, #EF798A 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

}

.deck .card.open {
    transform: rotateY(0);
    background: #F7BFB4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #136F63;
    font-size: 50px;
}

/* when cards are mismatched they turn red */

.deck .card.mismatch {
    cursor: default;
    background: #A71D31;
    font-size: 50px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 10px;

}

.score-panel .stars {
    color: #EF798A;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 20px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#reset{
  width: 60px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  color: #F78A17;
  border: 2px solid #EF798A;
  float: right;
}

.score-panel .restart{
    float: right;
    cursor: pointer;
    color: #F78A17;
    font-size: 30px;
}

/* styling for the modal */
.modalbgd{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.438);
}

.hide{
  display: none;
}

.modalBody{
  position: relative;
  width: 400px;
  top: 50%;
  left: 50%;
  background: #EF798A;
  transform: translate(-50%, -70%);
}

.modalHeading{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.modalTitle{
  text-align: center;
}

.modalCloser{
  font-weight: bold;
  font-size: 2rem;
}


 .modalStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.modalButtons{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

#replay {
  width: 60px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  color: #F78A17;
}

#close{
  width: 60px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  color: #EF798A;
}
